<footer class="pege-footer font-small border-primary border-5 border-top corFundo">
    <div class="row mt-5">
        <div class="col-md-6 margem">
            <img class="mb-3" src="https://i.imgur.com/xXRKbsx.png" alt="" width="130px" height="40px">
            <p class="mb-5 corfonte2 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nesciunt fuga,
                dolor, deserunt omnis autem maxime ipsum obcaecati animi placeat voluptate perspiciatis officia enim
                voluptatem a! Error blanditiis minima laborum.</p>
        </div>
        <div class="col-md-3">
            <p class="fonte corfonte">CONTATO</p>
            <p class="corfonte2">contato@tgarante.com.br <br> (11)2020-2020 <br>(11)99999-9999 </p>
        </div>
        <div class="col-md-3 center">
            <p class="fonte corfonte">REDES SOCIAIS</p>

            <ul class="social-network ">
                <a href="https://www.facebook.com/jose.luiis.1217727/" target="_blank" class="icoGit pe-3 coricon"> <i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/jo_luid/" target="_blank" class="icoInsta coricon">
                    <i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/joseluiscorreia/" target="_blank"
                    class="icoInsta pe-3 mx-3 coricon">
                    <i class="bi bi-whatsapp"></i></a>
            </ul>
        </div>
    </div>
</footer>