<div class=" row cordefundo">
    <div class="col-md-6">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-11">
                <h1 class="bora">Aluguel sem fiador, <span class="corFonte" > prático e garantido</span></h1>

            </div>
            

        </div>
        <div class=" vamos">
            <button class="btn btn-efeito" type="submit" >Entenda melhor</button>

        </div>
     

    </div>
    <div class="col-md-6 imagem">
        <img src="https://i.imgur.com/Eh5wSyH.png" alt="Corretores" width="600">

    </div>



    
</div>

<div class="  m-auto mb-2 mb-lg-0 d-flex align-items-center">
    <ul>
        <li class="bot1">
            <button class="btn cordefundo1 ps-2 bot2" type="submit"  >Aluguel Garantido</button>
            <button class="btn cordefundo1 ps-2 bot1" type="submit"  >Aluguel sem Fiador</button>
            <button class="btn cordefundo1 ps-2 bot3 " type="submit"  >Sem Burocracia</button>
            

        </li>
    </ul>    

</div>




<div class="row d-flex justify-content-center">
    <div class="col-md-6">
    <div class="col-md-6 espacamento">
        <img src="https://i.imgur.com/pokVIbz.jpeg" alt="" width="450">
    </div>
    </div>



    <div class="col-md-6">
        <h1 class="fonte1 entrelinhas" >Por que <br><span class="corFonte1 entrelinhas">nos escolher</span> <br> <span><i class="bi bi-dash-lg traco"></i></span>  </h1>
        
        
        <div class="espacamento1 todosicons1 ajuste1">

            <i class="bi bi-shield-fill icones1 cor1 espacamentoicon"></i> 
            <i class="bi bi-dash-lg icones2 espacamentoicon"></i> 
            <i class="bi bi-record icones2"></i>
            <i class="bi bi-dash-lg icones2"></i>
            <i class="bi bi-patch-check-fill icones1 cor1 espacamentoicon"></i>
            <i class="bi bi-dash-lg icones2 espacamentoicon"></i> 
            <i class="bi bi-record icones2"></i>
            <i class="bi bi-dash-lg icones2"></i>
            <i class="bi bi-star-fill icones1 cor1"></i>

        </div>
        <div class="fonte ">
            <P >Segurança <span class="espacamento3 espacamentoF">Facilidade e clareza <span class="espacamento3 espacamentoG">Garantia</span></span></P>
        </div>


        <div class="row entrelinhas1 ajustecol">




            <div class="col-md-4">
                <P class="fonte tamanho1 "> <span class="tamanho"> +1000</span> <i class="bi bi-arrow-up-right setas"></i> <span>imóveis </span>cadastrados</P>
            </div>


            <div class="col-md-4">
                <p class="fonte tamanho1"> <span class="tamanho">+12000</span>  <i class="bi bi-arrow-up-right setas"></i><span> alugueis</span> garantidos</p>
            </div>


            <div class="col-md-4">
                <p class="fonte tamanho1"> <span class="tamanho">+300</span>  <i class="bi bi-arrow-up-right setas"></i><span>inquilinos</span>  cadastrados</p>

            </div>

        </div>

        <div class="row  d-flex justify-content-center py-3">
            <div class="col-md-8 ajustecol1 ic-menu br-32">
                <p><i class="bi bi-shield-check"></i></p>
                
            </div>
            <div class="col-md-3 ajustecol1 ">
                
            </div>
        </div>


        <div class="mar1 ">
            <button class="btn btn-efeito" type="submit" >Nos conheça melhor</button> <button class="btn btn-efeito1" type="submit" >Ver benefícios</button>

        </div>
    </div>
</div>




<div class="mulher">



    <h1 class="navbar-nav  d-flex align-items-center ml-auto  fonte1 espaco">Conheça nossos <span class="corFonte1"> benefícios</span> </h1>
    



    <div class="row espacamento10    ">
        <div class="col-md-3 ">
          <div class="card mb-3 " id="fundo" style="width: 14rem;">
            <img src="https://i.imgur.com/qqGLjUm.png" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">Propietários</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-efeito" type="submit" >Saiba mais</button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="card mb-3 " id="fundo" style="width: 14rem;">
            <img src="https://i.imgur.com/RabML7q.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inquilinos</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-efeito" type="submit" >Saiba mais</button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="card mb-3 " id="fundo" style="width: 14rem;">
            <img src="https://i.imgur.com/9KPwfF9.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Corretores</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-efeito" type="submit" >Saiba mais</button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="card mb-3 " id="fundo" style="width: 14rem;">
            <img src="https://i.imgur.com/Zn2Ie5b.png" class="card-img-top " alt="...">
            <div class="card-body ml-auto">
              <h5 class="card-title justify-content-center"> <span> </span> Imobiliárias</h5>
              <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-efeito" type="submit" >Saiba mais</button>
            </div>
          </div>
        </div>
      
      
      </div>
      
   




</div>








