.btn-efeito {
  color: white;
  background-color: #2B67FF;
  border-radius: 20px;
  margin-left: 15pt;
}

.btn-efeito1 {

  border-radius: 20px;
  border-color: rgb(146, 144, 144);
  margin-left: 20pt;

}

.cordefundo {
  background: #ECEEF2;

}

.cordefundo1 {
  background-color: #F5F9FF;
  border-radius: 20px;
  color: rgb(167, 166, 166);
}



.margens1 {
  margin-top: 70pt;
  margin-left: 50pt;

}


.margemImg {
  margin-top: 60pt;
}

.margemButton {
  margin-top: 140pt;
  margin-left: 60pt;
  margin-bottom: 50pt;
}

.azulPadrao {
  color: #2B67FF;
}

.fonteBold {
  font-weight: bold;
}

.tamanhoPadrao {
  font-size: 50px;
}

.fonte1 {
  padding-left: 10pt;
  font-weight: bold;
}

.bot1 {
  margin-right: 20pt;
  list-style: none;
}

.bot2 {
  margin-right: 20pt;
  margin-left: 50pt;
}

.bot3 {
  padding: 5pt 20pt;
}

.espacamento {
  margin-top: 60pt;
  margin-left: 80pt;
}

.espacamento1 {
  margin-top: 10pt;
}

.espacamento2 {
  margin-left: 10pt;
}

.espacamento3 {
  font-weight: bold;
  margin-left: 50pt;
}

.espacamento4 {
  margin-left: 80pt;
}

.icones1 {
  font-size: 60px;
  padding-left: 8pt;
}

.espacamentoF {
  padding-left: 15pt;
}

.espacamentoG {
  padding-left: 10pt;
}

.espacamentoicon {
  padding-left: 14pt;
}

.fonte {
  padding-left: 10pt;
  font-weight: bold;
  font-size: 14px;
}

.todosicons1 {
  align-content: center;
  justify-content: center;
}

.cor1 {
  color: hsl(0, 80%, 0%);
}

.setas {
  color: #2B67FF;
  font-size: 20px;
}

.tamanhoFont {
  font-size: 30px;
}

.tamanho1 {
  font-size: 20px;
}

.traco {
  font-weight: bold;
  font-size: 70px;
  color: #ECEEF2;
}

.entrelinhas {
  line-height: 90%;
}

.entrelinhas1 {
  line-height: 200%;
}

.ajustecol {
  padding-right: 120pt;
}

.ajustecol1 {
  padding-top: 1pt;
  position: relative;
}

.ajustecol2 {
  padding-left: 80pt;
}

.ajustecol3 {
  padding-top: 70pt;
  position: relative;
}

.br-32 {
  border-radius: 32px;
}

.corFundo {
  background-color: rgba(66, 209, 154, 0.082) !important;
}

.ic-menu {
  border-radius: 15px 15px;
  background-color: rgba(66, 209, 154, 0.082) !important;
}

.mar1 {
  margin: 5px 0px 70px 0px;
}

.fundo3 {
  background-color: rgba(66, 209, 154, 0.082) !important;
}

.espaco {
  padding-top: 30pt;
}

.bgBeneficios {
  background-image: url(https://i.imgur.com/Iu5ViRh.png);
  background-color: rgba(66, 209, 154, 0.082);
  background-repeat: no-repeat;

}

.bgSessaoDuvidas {
  background-image: url(https://i.imgur.com/oZJ8WqG.png);
  background-color: rgba(66, 209, 154, 0.082);
  background-repeat: no-repeat;

}

.bgCaroucel {
  background-image: url(https://i.imgur.com/Z6wSMCg.png);
  background-image: url(https://i.imgur.com/GDHmPDI.png);
  background-repeat: no-repeat;

}

.espacamentoCardes {
  margin-left: 80pt;
  padding: 50pt;

}

.cardes {
  width: 200px;
  text-align: center;
}


.espacoesquerdo {
  margin-left: 80pt;

}

.espacodireitotexto {
  padding-right: 140pt;

}


.alinhamentotexto {
  text-align: justify;

}

.centertexto {
  text-align: center;
}

.pag4 {
  padding-top: 20pt;
}

.textolist {
  font-size: 14px;
  color: #6d6c6c;
}


.borda {
  margin: 18px;
}

.botao {
  margin-bottom: 10pt;
  border-radius: 15px;
}

.botao1 {
  margin-left: 95pt;
}

#posicaoBotoes {
  position: absolute;
  margin-top: -20px;
  z-index: 9999;
}

#posicaoImagem {
  position: absolute;
  margin-top: 150px;
  z-index: 9999;
}

.margcard {
  margin: 40px;
}


.marg {
  margin-left: 1.43cm;
}

.marg2 {
  margin-left: 7.2cm;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.corFontePadrao {
  color: #2B67FF;
}

.marge {
  padding-left: 20pt;
}

.mar12 {
  padding-left: 40pt;
  padding-right: 30pt;
}
