<div class=" row cordefundo">
    <div class="col-md-6">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-11 ">
                <h1 class="margens1 fonteBold tamanhoPadrao">Aluguel sem fiador, <span class="azulPadrao"> prático e
                        garantido</span>
                </h1>
            </div>
        </div>
        <div class=" margemButton">
            <a href="#entendaMelhor"><button class="btn btn-efeito" type="submit">Entenda melhor</button></a>
        </div>
    </div>
    <div class="col-md-6 margemImg">
        <img src="https://i.imgur.com/Eh5wSyH.png" alt="Corretores" width="100%">
    </div>
</div>
<div class="  m-auto mb-2 mb-lg-0 d-flex align-items-center">
    <ul>
        <li class="bot1" id="posicaoBotoes">
            <button class="btn cordefundo1 ps-2 bot2" type="submit">Aluguel Garantido</button>
            <button class="btn cordefundo1 ps-2 bot1" type="submit">Aluguel sem Fiador</button>
            <button class="btn cordefundo1 ps-2 bot3 " type="submit">Sem Burocracia</button>
        </li>
    </ul>

</div>



<div class="row d-flex justify-content-center" id="entendaMelhor">
    <div class="col-md-6">
        <div class="col-md-6 espacamento">
            <img src="https://i.imgur.com/pokVIbz.jpeg" alt="" width="100%">
        </div>
    </div>

    <div class="col-md-6">
        <h1 class="fonte1 entrelinhas">Por que <br><span class="azulPadrao azulPadrao entrelinhas">nos escolher</span>
            <br> <span><i class="bi bi-dash-lg traco"></i></span>
        </h1>

        <div class="espacamento1 todosicons1 ">

            <i class="bi bi-shield-fill icones1 cor1 espacamentoicon espacamento2"></i>
            <i class="bi bi-dash-lg tamanhoFont azulPadrao espacamentoicon"></i>
            <i class="bi bi-record tamanhoFont azulPadrao"></i>
            <i class="bi bi-dash-lg tamanhoFont azulPadrao"></i>
            <i class="bi bi-patch-check-fill icones1 cor1 espacamentoicon"></i>
            <i class="bi bi-dash-lg tamanhoFont azulPadrao espacamentoicon"></i>
            <i class="bi bi-record tamanhoFont azulPadrao"></i>
            <i class="bi bi-dash-lg tamanhoFont azulPadrao"></i>
            <i class="bi bi-star-fill icones1 cor1"></i>

        </div>
        <div class="fonte ">
            <P class="espacamento2">Segurança <span class="espacamento3 espacamentoF">Facilidade e clareza <span
                        class="espacamento3 espacamentoG">Garantia</span></span></P>
        </div>


        <div class="row entrelinhas1 ajustecol">
            <div class="col-md-4 centertexto">
                <P class="fonte tamanho1 "> <span class="tamanhoFont"> +1000</span>
                    <i class="bi bi-arrow-up-right setas"></i> <span>imóveis </span>cadastrados
                </P>
            </div>
            <div class="col-md-4 centertexto">
                <p class="fonte tamanho1"> <span class="tamanhoFont">+12000</span>
                    <i class="bi bi-arrow-up-right setas"></i><span> alugueis</span> garantidos
                </p>
            </div>
            <div class="col-md-4 centertexto">
                <p class="fonte tamanho1"> <span class="tamanhoFont">+300</span>
                    <i class="bi bi-arrow-up-right setas"></i><span>inquilinos</span> cadastrados
                </p>
            </div>
        </div>

        <div class="row  d-flex justify-content-center py-3">
            <div class="col-md-9 ajustecol3 ic-menu br-32">
                <p><i class="bi bi-shield-check"></i></p>
            </div>
            <div class="col-md-3 ajustecol1 ">
            </div>
        </div>

        <div class="mar1 ">
            <a href="#beneficios"> <button class="btn btn-efeito" type="submit">Nos conheça melhor</button> <button
                    class="btn btn-efeito1" type="submit">Ver benefícios</button></a>
        </div>
    </div>
</div>




<div class=" bgBeneficios " id="beneficios">
    <h1 class="navbar-nav  d-flex align-items-center ml-auto  fonte1 espaco">Conheça nossos <span class="azulPadrao">
            benefícios</span> <i class="bi bi-dash-lg traco"></i> </h1>



            
    <div class="row espacamentoCardes  ">
        <div class="col-md-3 ">
            <div class="card mb-3 " id="fundo" style="width: 14rem;">
                <img src="https://i.imgur.com/qqGLjUm.png" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title centertexto">Propietários</h5>
                    <ul class="textolist centertexto">
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                    </ul>
                    <button class="btn btn-efeito" type="submit">Saiba mais</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card mb-3 " id="fundo" style="width: 14rem;">
                <img src="https://i.imgur.com/RabML7q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centertexto">Inquilinos</h5>
                    <ul class="textolist centertexto">
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>

                    </ul>
                    <button class="btn btn-efeito" type="submit">Saiba mais</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card mb-3 " id="fundo" style="width: 14rem;">
                <img src="https://i.imgur.com/9KPwfF9.png" class="card-img-top" alt="...">
                <div class="card-body alinhamentotexto">
                    <h5 class="card-title centertexto">Corretores</h5>
                    <ul class="textolist centertexto">
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>

                    </ul>
                    <button class="btn btn-efeito" type="submit">Saiba mais</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card mb-3 " id="fundo" style="width: 14rem;">
                <img src="https://i.imgur.com/Zn2Ie5b.png" class="card-img-top " alt="...">
                <div class="card-body ml-auto ">
                    <h5 class="card-title centertexto">Imobiliárias</h5>
                    <ul class="textolist centertexto">
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                        <li>Lorem, ipsum dolor buio.</li>
                    </ul>
                    <button class="btn btn-efeito" type="submit">Saiba mais</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">

    <div class="col-md-6 pag4">
        <h1 class="navbar-nav  d-flex  fonte1 espacoesquerdo">Alugue <span class="azulPadrao"> sem fiador! </span> <i
                class="bi bi-dash-lg traco"></i> </h1>
        <p class="alinhamentotexto espacoesquerdo espacoDireito">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae odio velit modi earum voluptatum nulla porro
            est minima. Vero amet illum impedit dolor voluptatum voluptate blanditiis, ipsa omnis ipsum consectetur,
            placeat est repudiandae earum non culpa, fugiat nemo ad deserunt.
        </p>

        <div class="d-flex justify-content-center py-3 ajustecol1 ic-menu br-32  espacoesquerdo">
            <p class="borda "><i class="bi bi-shield-check espacoDireito"></i> Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Beatae odio velit modi earum voluptatum nulla porro est minima. Vero amet illum impedit dolor
                voluptatum voluptate blanditiis, ipsa omnis ipsum consectetur, placeat est repudiandae earum non culpa,
                fugiat nemo ad deserunt.
            </p>
        </div>

        <div class="mar1 mt-5  espacoesquerdo">
            <a href="#estouComDuvida"> <button class="btn btn-efeito" type="submit">Faça uma simulação</button> <button
                    class="btn btn-efeito1" type="submit">Estou com dúvidas</button> </a>
        </div>

        <div class="row  d-flex justify-content-center py-3">
            <div class="col-md-9 ajustecol1  br-32">
            </div>
            <div class="col-md-3 ajustecol1 ">
            </div>
        </div>
    </div>
    <div class="col-md-6  ">
        <img src="https://i.imgur.com/RZsc96Q.png" alt="" width="100%" id="posicaoImagem">
    </div>
</div>



<div class="row fundo3 espaco bgSessaoDuvidas" id="estouComDuvida">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="navbar-nav  d-flex  fonte1  align-items-center">F.A.Q <span class="azulPadrao"> Dúvidas Frequentes
            </span> <span><i class="bi bi-dash-lg traco"></i></span> </h1>
    </div>
    <div class="col-md-2"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="accordion accordion-flush acordion1" id="accordionFlushExample">
                <div class="accordion-item mb-2 ">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      O que oferecemos
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Prazos
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                  </div>
                </div>






                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="flush-headingFoor">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFoor" aria-expanded="false" aria-controls="flush-collapseFoor">
                        Vantagens
                      </button>
                    </h2>
                    <div id="flush-collapseFoor" class="accordion-collapse collapse" aria-labelledby="flush-headingFoor" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>




                  <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Documentação
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>





                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Accordion 
                    </button>



                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                  </div>
                </div>
               
              </div>

            <div class="mt-4 mb-5 botao1">
                <button class="btn btn-efeito botao1" type="submit">Ver outras dúvidas</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>








<div>
    <div class="container ">
        <div>
            <img class="espacamento4 mb-5" src="https://i.imgur.com/XZv4Wr7.png" alt="" width="100%">
        </div>
        <div>
            <p class="corFundo mb-5 br-32 py-3 mar12"> <span class="tamanhoFont fonteBold">Ainda em dúvida? <br>
                </span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cupiditate nam expedita atque
                quibusdam saepe sunt, enim aperiam tenetur voluptatem, vel exercitationem quod inventore laboriosam
                praesentium quaerat ipsam provident dolorem.
                <br class=""> <button class="btn btn-efeito mt-4 mb-2  " type="submit">Entrar em contato</button>
            </p>
        </div>
    </div>
</div>